@import "~antd/dist/antd.css";

.ant-tabs-tab {
    color: #5f5f5f !important;
    font-size:30;
  }

  .ant-tabs-tab-active {
    color: #006DFF !important;
    font-size:30;
  }

  .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
    color: #5F5F5F!important; 
    font-weight: '400';
    padding: 2px;
    font-size:30;
 }

.chart_inner_middle {
     font-size:30;
}

.chart_inner_right .ant-segmented {
    background-color:rgba(129, 129, 129, 0.1);
    font-size:15px;
    color:#5f5f5f;
    padding:0;
    border-radius:5px;
}

.chart_inner_right .ant-segmented-item-label{
    width: 58px;
    font-size: 15px;
    min-height: 37px;
    line-height: 37px;
}

.chart_inner_right .ant-segmented-item-selected{
    background: #006DFF;
    color:#fff;
    border-radius:5px;

}